<div class="divContainer" style="width: 100%; padding-left: 40px">

    <ul class="desktopMenu" style="width: 350px">
        <li><a href="javascript:;"><span class="ui-icon ui-icon-document"></span>Applications</a>
        <ul style="width: 250px">
            <li><a href="#l/application/create"><span class="ui-icon ui-icon-disk"></span>Create New Application</a></li>
            <!-- <li><a href="#l/application/edit"><span class="ui-icon ui-icon-disk"></span>Edit Current Application</a></li>-->
            <li><a href="#l/application/selector"><span class="ui-icon ui-icon-arrow-4"></span>Application Selector</a></li>
        </ul>

        </li>
        <li><a href="javascript:;"><span class="ui-icon ui-icon-person"></span>Users</a>
        <ul style="width: 250px">
            <li><a href="#l/user/browser"><span class="ui-icon ui-icon-folder-open"></span>User Browser</a></li>
            <!-- li><a href="#l/user/create"><span class="ui-icon ui-icon-disk"></span>Create New User</a></!-->
        </ul>
        </li>
        <li>
            <a href="#l/item/browser"><span class="ui-icon ui-icon-note"></span>Item Browser</a>
        </li>
        <li><a href="#logout" class="btnLogout"><span class="ui-icon ui-icon-circle-close"></span>Logout</a></li>
    </ul>
</div>
