<div>
    <div style="float: left; width: 250px;">
        <!-- Left Column -->
        
        <jsui name="ctlApplicationsList" require="jsui/controls/Listbox" />
        
    </div>
    <div class="ctlApplicationEditor ui-dialog ui-widget ui-widget-content ui-corner-all ui-front ui-draggable ui-resizable" 
        style="display: none; float: left; width: 400px; margin-left: 10px;">
        <!-- Right Column -->
        <jsui name="ctlApplicationEditor" require="views/application/editor" />
    </div>
</div>
