<div>
    <label for="Id" class="label">Id</label>
    <input id="Id" name="Id" type="text" disabled="disabled" />
</div>
<div>
    <label class="label" for="Name">Name</label>
    <input name="Name" type="text" />
</div>
<div>
    <label class="label" for="Type">Type</label>
    <select name="Type">
        <option value="0">Generic</option>
        <option value="1">Datasource</option>
    </select>
</div>


<div>
    <label class="label" for="Parent">Parent</label>
    <input name="Parent" type="text" />
</div>
<div>
    <label class="label" for="JsonDataType">JsonDataType</label>
    <input name="JsonDataType" type="text" />
</div>

<jsui name="jedObjectData" require="jsui/controls/JsonEditor" />

<div class="buttons">
    <button class="btnSaveDetails">Save Details</button>
</div>
